{% extends 'base.html.twig' %}

{% block title %}Send SMS{% endblock %}

{% block body %}
    <h1>Send SMS</h1>

    <table border="1" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Send to</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sms_out in sms_outs %}
            <tr>
                <td>{{ sms_out.id }}</td>
                <td>{{ sms_out.sendTo }}</td>
                <td>
                    <a href="{{ path('sms_out_show', {'id': sms_out.id}) }}">show</a>
                    <a href="{{ path('sms_out_edit', {'id': sms_out.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sms_out_new') }}">Send new message</a><br />
    <a href="{{ path('list_messages') }}">Mpesa received messages</a><br />
    <a href="{{ path('receive_sms', {'sms_origin': '0736600033', 'message': "BS49OR20Z Confirmed.You have received Ksh20.00 from MICHAEL SOMEONE 254705285959 on 15/10/11 at 11:52 AM New M-PESA balance is Ksh100.00"}) }}">Receive a mock message</a><br />
    <a href="{{ path('clear_messages') }}">Clear all messages from mpesa table</a><br />
    {# <a href="{{ path('generate_codes', {'qty': 2000} ) }}">Generate 2000 codes</a> #}
{% endblock %}